target/*
*Cargo.lock*
*.swp
*.so
*.a
*.la
*.lo
*.o
./*.lib
contrib/archlinux/*.tar.*
contrib/archlinux/beastlink/*.tar.*
contrib/archlinux/cesys-udk/*.tar.*
contrib/debian/*.deb
contrib/debian/*.tar.*
contrib/debian/workarea/*
contrib/redhat/*.rpm
